body {
    background: #0f172a;
    font-family: Arial;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

h2 {
    text-align: center;
}

.task-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input, select, button {
    padding: 10px;
    border-radius: 6px;
    border: none;
}

button {
    background: #22c55e;
    color: black;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
}

tr {
    background: #1e293b;
}

.priority.High {
    color: #ef4444;
}
.priority.Medium {
    color: #facc15;
}
.priority.Low {
    color: #22c55e;
}

.progress-box {
    margin-bottom: 15px;
}

.progress {
    background: #334155;
    height: 10px;
    border-radius: 10px;
}

.progress-fill {
    height: 10px;
    background: #38bdf8;
    border-radius: 10px;
}
